<body class="aerial-road">
<header class="display-flex justify-space-between align-center p-2">
    <h1>
        <span role="img" aria-label="money"></span>
        <a class="fst-italic lh-1 mb-4" href="/">PARKSMART</a>
        <span role="img" aria-label="money"></span>
    </h1>
    <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="../homepage">My Neighborhood</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="../login">login</a>
        {{/if}}
    </nav>
</header>
<main>
    <div class="modal fade" id="ModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        {{#if parkingSpots.spot.spot_taken}}
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">This Spot is Taken!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"> It will be available at : {{time_available}}</div>
                {{#if logged_in}}
                    <div class="modal-footer">
                        <label for="customRange3" class="form-label">I will be leaving in &nbsp;</label><input type="text" id="textInput" value=""><label>&nbsp; minutes</label>
                        <input type="range" name="rangeInput" class="form-range" min="0" max="300" id="customRange3" onchange="updateTextInput(this.value);">
                        {{!-- this will be a put route that updates the parkingspot.time_available where user_id matches the user(id) in session --}}
                        <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Edit My Time</button>
                        <span>OR</span>
                        {{!-- this will be a put route that updates the parkingspot.spot_taken value to false --}}
                        <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">I'm Leaving</button>
                    </div>
                {{/if}}
            </div>
            </div>
        {{else}}
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">This Spot is Available!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            I am parking here
                            </label>
                        </div>
                        <br>
                        <label for="customRange3" class="form-label">I will be leaving in &nbsp;</label><input name="time_available" type="text" id="textInput" value=""><label>&nbsp; minutes</label>
                        <input type="range" name="rangeInput" class="form-range" min="0" max="300" id="customRange3" onchange="updateTextInput(this.value);">
                    </div>
                    <div class="modal-footer">
                    {{!-- this will be a put route that updates the parkingspot.spot_taken to true & the parkingspot.time_available to req.body.time_available where user_id matches user(id) in session --}}
                    <button class="btn btn-success" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Park Here!</button>
                    </div>
                </div>
                </div>            
            </div>
        {{/if}}
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1 black"></div>

            <div class="col-1 black top-horizontal">
                <a class="w-100 btn {{parkingSpots.[0].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">1</a>
            </div>
            <div class="col-1 black top-horizontal">
                <a class="w-100 btn {{parkingSpots.[1].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">2</a>
            </div>
            <div class="col-1 black top-horizontal">
                <a class="w-100 btn {{parkingSpots.[2].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">3</a>
            </div>
            <div class="col-1 black top-horizontal">
                <a class="w-100 btn {{parkingSpots.[3].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">4</a>
            </div>
            <div class="col-1 black top-horizontal">
                <a class="w-100 btn {{parkingSpots.[4].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">5</a>
            </div>
            <div class="col-1 black top-horizontal">
                <a class="w-100 btn {{parkingSpots.[5].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">6</a>
            </div>
            <div class="col-1 black top-horizontal">
                <a class="w-100 btn {{parkingSpots.[6].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">7</a>
            </div>
            <div class="col-1 black top-horizontal right-white">
                <a class="w-100 btn {{parkingSpots.[7].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">8</a>
            </div>
            <div class="col-1 black"></div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1 black left-horizontal top-white">
                <a class="w-100 top-margin vertical-button twenty-four btn {{parkingSpots.[23].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">24</a>
            </div>
            <div class="col-8"></div>
            <div class="col-1 black right-horizontal top-white">
                <a class="w-100 top-margin vertical-button nine btn {{parkingSpots.[8].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">9</a>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1 black left-horizontal top-white">
                <a class="w-100 top-margin vertical-button twenty-three btn {{parkingSpots.[22].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">23</a>
            </div>
            <div class="col-8 welcome fst-italic lh-1 mb-4">Welcome to your Neighborhood!</div>
            <div class="col-1 black right-horizontal top-white">
                <a class="w-100 top-margin vertical-button ten btn {{parkingSpots.[9].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">10</a>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1 black left-horizontal top-white">
                <a class="w-100 top-margin vertical-button twenty-two btn {{parkingSpots.[21].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">22</a>
            </div>
            <div class="col-8" style="text-align:center; font-size: 40px;">🚗 🚙</div>
            <div class="col-1 black right-horizontal top-white">
                <a class="w-100 top-margin vertical-button eleven btn {{parkingSpots.[10].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">11</a>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1 black left-horizontal top-white bottom-white">
                <a class="w-100 top-margin vertical-button twenty-one btn {{parkingSpots.[20].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">21</a>
            </div>
            <div class="col-8"></div>
            <div class="col-1 black right-horizontal top-white bottom-white">
                <a class="w-100 top-margin vertical-button twelve btn {{parkingSpots.[11].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">12</a>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1 black"></div>
            <div class="col-1 black bottom-horizontal">
                <a class="w-100 twenty btn {{parkingSpots.[19].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">20</a>
            </div>
            <div class="col-1 black bottom-horizontal">
                <a class="w-100 nineteen btn {{parkingSpots.[18].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">19</a>
            </div>
            <div class="col-1 black bottom-horizontal">
                <a class="w-100 eighteen btn {{parkingSpots.[17].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">18</a>
            </div>
            <div class="col-1 black bottom-horizontal">
                <a class="w-100 seventeen btn {{parkingSpots.[16].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">17</a>
            </div>
            <div class="col-1 black bottom-horizontal">
                <a class="w-100 sixteen btn {{parkingSpots.[15].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">16</a>
            </div>
            <div class="col-1 black bottom-horizontal">
                <a class="w-100 fifteen btn {{parkingSpots.[14].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">15</a>
            </div>
            <div class="col-1 black bottom-horizontal">
                <a class="w-100 fourteen btn {{parkingSpots.[13].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">14</a>
            </div>
            <div class="col-1 black bottom-horizontal right-white">
                <a class="w-100 thirteen btn {{parkingSpots.[12].spot_taken}} spot" data-bs-toggle="modal" href="#ModalToggle" role="button">13</a>
            </div>
            <div class="col-1 black"></div>
            <div class="col-1"></div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="/js/neighborhood.js"></script>
<script src="/js/homepage.js"></script>
</body>

{{!-- background image courtesy of Travel & Leisure --}}